<launch>
  <param name="use_sim_time" value="true" />

  <node pkg="tf" type="static_transform_publisher" name="map_iss_sync_broadcaster" 
        args="0 0 0 0 0 0 iss_body map 100" />

  <node pkg="octomap_server" type="octomap_server_node" name="iss_static_map_server" 
        args="$(find sobits_intball2_gnc)/maps/iss_octomap.bt" 
        output="screen">
    
    <param name="frame_id" type="string" value="map" />
    
    <param name="base_frame_id" type="string" value="iss_body" />

    <param name="resolution" value="0.05" />
    
  </node>
</launch>